In [1]:
import math

In [2]:
math.pi

3.141592653589793

In [3]:
math.sqrt(25)

5.0

In [4]:
import math as mt

mt.sqrt(25)

import numpy

In [5]:
import scipy.stats

In [6]:
from numpy import random

In [7]:
import numpy as np

In [11]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [12]:
import numpy as np

In [13]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [15]:
dataOne = random.rand(5,5)

In [16]:
np.dataOne

array([[0.71364291, 0.88767527, 0.52545229, 0.55341853, 0.9085191 ],
       [0.12487548, 0.35836758, 0.68581254, 0.26553997, 0.33349959],
       [0.33298074, 0.08117919, 0.80161621, 0.46991895, 0.75595738],
       [0.83808848, 0.1409551 , 0.97922374, 0.97585272, 0.53237456],
       [0.74111738, 0.27408385, 0.77882381, 0.92801296, 0.04821612]])

In [17]:
np.mean(dataOne)

0.5148095820337878

In [18]:
np.mode(dataOne)

AttributeError: module 'numpy' has no attribute 'mode'

In [20]:
#1 
np.std(dataOne)

0.369129870843791

In [21]:
#2
np.sum(dataOne)

12.870239550844694

In [25]:
#3
np.median(dataOne)

0.4662935649195883

In [26]:
print('I Love data Science')

I Love data Science

In [27]:
variableName = 25

In [28]:
variableName1 = 'I Love data Science'

In [29]:
print(variableName1)

I Love data Science

In [30]:
variableName = 25

In [31]:
type(variableName)

int

In [32]:
variableName = 25.0

In [33]:
type(variableName)

float

In [34]:
varOne = 25

varTwo = 25.0

varThree = varOne + varTwo

print(varThree)

50.0

In [35]:
varOne = 25

varTwo = 'Hello'

varThree = varOne + varTwo

print(varThree)
##Error due to different data types

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
listOne = [1,2,3,4]

In [37]:
print(listOne[1:3])

[2, 3]

In [38]:
tel = {'jack': 4098, 'sape': 4139}

In [39]:
tel['jack']

4098

In [77]:
cat1 = {"andres":[1,2,3,4,5]}
print(cat1['andres'])

[1, 2, 3, 4, 5]

In [18]:
import math

In [19]:
math.sqrt(25)

5.0

In [20]:
import math as mt

In [21]:
mt.sqrt(25)

5.0

In [81]:
cat1 = {"andres":[1,2,3,4,5]}
x = cat1['andres'][2]
y = cat1['andres'][3]
z = cat1['andres'][4]

In [82]:
mt.sqrt(x+y)

2.6457513110645907

In [83]:
mt.pow(x,y)

81.0

In [85]:
mt.fabs(x)

3.0

Was it straightforward to install Python and all of the libraries? Yes

Was the tutorial useful? Would you recommend it to others? Yes

What are the main lessons you've learned from this experience? How to use python and Github

In [87]:
import pandas as pd

In [90]:
pwd

'C:\\Users\\admin\\Desktop\\Course 5 Task 1'

In [96]:
variable = pd.read_csv(r"C:\Users\\admin\\Desktop\\Course 5 Task 1\default of credit card clients.csv")
variable.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0